{% extends 'layout.html'%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% include '_messages.html'%}
            {%if updatebrand %}
            <h1 class="text-center mt-5"> update Brand</h1>
            <form action="" method="POST">
                <input type="text" name="brand" class="form-control" value="{{ updatebrand.name }}">
                <input type="submit" value="update Brand" class="btn btn-info mt-2">

            </form>
            <a href="{{ url_for('brands') }}" class="btn btn-sm btn-warning" style="margin-top: -65px ;margin-left:140px">cancel</a>
            {% else %}
            
            <h1 class="text-center mt-5"> update Category</h1>
            <form action="" method="POST">
                <input type="text" name="category" class="form-control" value="{{ updatecat.name }}">
                <input type="submit" value="update Category" class="btn btn-info mt-2">

            </form>
            <a href="{{ url_for('categories') }}" class="btn btn-sm btn-warning" style="margin-top: -65px ;margin-left:160px">cancel</a>
            {% endif%}

        </div>
    </div>

</div>

{% endblock content %}