{% extends 'layout.html'%}
{% block content%}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{{  url_for('static',filename='img/breadcrumb.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Favorit </h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Favorit </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock content%}